
.card {

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 27%;
    margin-right: 27%;
}
.card1 {

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("./../../../../assets/itsokMedicine/bg2.jpg");
    background-size: cover;
    background-position-y: -20vh;
    text-align: center;
}