

<div class="container-fluid  mb-5" >
    <div class="row" style="overflow: auto;">
      <div class="col-12">
        <mat-card>
          <div class="bootstrap-tab-design">
            
                <!-- First Pension -->
                <!-- (selectedTabChange)="onTabChanged($event)" -->
                <div class="first-pension-container" id="first-pension">
                  <mat-tab-group animationDuration="0ms" color="primary" class="first-pension-tabs mt-4"
                     animationDuration="500ms">
                    <mat-tab label="Revise Pension">
                      <div class="tab-container mt-4">
                        <div class="first-pension-tabs-container">
                          <div class="first-pension-tab-btns d-flex align-items-center">
                           
                          </div>
                          <div class="tab-content mt-3">
                            <div class="container-fluid">
                              <div class="tab-filter-option-container row">
                                <div
                                  class="tab-filter-option-field col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
                                  <h3>Find Pensioner</h3>
                                  <div class="row">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1">
                                      <mat-form-field appearance="outline" color="primary" (keyup)="applyFilter1($any($event.target).value)">
                                        <mat-label>PPO Number</mat-label>
                                        <input matInput [(ngModel)]="ppoNo" placeholder="PPO Number" #input />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 mx-2">
                                      <mat-form-field appearance="outline" (change)="filterData()">
                                        <mat-label>Employee Code</mat-label>
                                        <input matInput placeholder="Employee Code" [(ngModel)]="empCode" #input />
                                      </mat-form-field>
                                    </div>
                              
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 col-xxl-2 gx-1 mx-2">
                                        <mat-form-field appearance="outline" (change)="filterData()">
                                          <mat-label>Pensioner ID</mat-label>
                                          <input matInput placeholder="Pensioner ID" [(ngModel)]="pensionerId" #input />
                                        </mat-form-field>
                                      </div>
                                  
                                  </div>
                                </div>
                                <div
                                  class="tab-filter-btn tab-filter-option-field col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2">
                                  <div class="raised-btn-component my-3">
                                   
                                    <button mat-raised-button color="primary" type="submit" class="big-btn-padding"
                                      (click)="filterData()">
                                      Find
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
  <hr>
                            <div class="" >
                                
                            <h3>Pensioner Details:</h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-label>Name: </mat-label>
                                    <strong>aa</strong>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-label>Employee Code: </mat-label>
                                    <strong>aa</strong>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-label>Employee Code: </mat-label>
                                    <strong>aa</strong>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <mat-label>Employee Code: </mat-label>
                                    <strong>aa</strong>
                                  </div>
                            </div>
                            </div>
                            <hr>
                            <div class="">
                                <h3>Reasons:</h3>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-label>Name: </mat-label>
                                        <strong>aa</strong>
                                      </div>
                                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-label>Employee Code: </mat-label>
                                        <strong>aa</strong>
                                      </div>
                                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-label>Employee Code: </mat-label>
                                        <strong>aa</strong>
                                      </div>
                                      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                        <mat-label>Employee Code: </mat-label>
                                        <strong>aa</strong>
                                      </div>
                                </div>
                                </div>   
                                <hr>
                                <div class="">
                                    <h3>New Pension Details:</h3>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-label>Name: </mat-label>
                                            <strong>aa</strong>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-label>Employee Code: </mat-label>
                                            <strong>aa</strong>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-label>Employee Code: </mat-label>
                                            <strong>aa</strong>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                            <mat-label>Employee Code: </mat-label>
                                            <strong>aa</strong>
                                          </div>
                                    </div>
                                    </div>   
                          </div>
                        </div>
                      </div>
                    </mat-tab>
  
                   
  
                   
  
                  </mat-tab-group>
                </div>
              
          </div>
        </mat-card>
      </div>
    </div>
  </div>