<div class="tab-container mt-4">
      <div class="container-fluid">
<div class="content-wrapper card">
    <div class="row">
        <div class="col-6">
            <h2 class="p-2">HO</h2>
        </div>

    </div>

    <div class="row mb-3 px-2">
        <!-- <div class="col-md-3 col-sm-3 col-xl-3 col-lg-3 col-xxl-3">
            <div class="card role-card">
                <div class="d-flex justify-content-center" (click)="setToken(makerToken,makerlist)">HOD</div>
            </div>
        </div> -->
        <div class="col-2">
            <div class="card role-card p-4 mb-3">
                <div class="d-flex justify-content-center" (click)="setToken(makerToken)">ESS</div>
            </div>
        </div>
        <div class="col-2">
            <div class="card role-card p-4">
                <div class="d-flex justify-content-center" (click)="setToken(makerToken)">Maker</div>
            </div>
        </div>
        <div class="col-2">
            <div class="card role-card p-4">
                <div class="d-flex justify-content-center" (click)="setToken(checkerToken)">Checker</div>
            </div>
        </div>
        <div class="col-2">
            <div class="card role-card p-4">
                <div class="d-flex justify-content-center" (click)="setToken(approverToken)">Approver</div>
            </div>
        </div>
        <div class="col-2">
          <div class="card role-card p-4">
              <div class="d-flex justify-content-center" (click)="setToken(Auditor)">Auditor</div>
          </div>
      </div>
      <div class="col-2">
          <div class="card role-card p-4">
              <div class="d-flex justify-content-center" (click)="setToken(AAOuser)">AAO</div>
          </div>
      </div>
      <div class="col-2">
          <div class="card role-card p-4">
              <div class="d-flex justify-content-center" (click)="setToken(ADUser)">AD</div>
          </div>
      </div>
      <div class="col-2">
        <div class="card role-card p-4">
            <div class="d-flex justify-content-center" (click)="setToken(makerToken1)">PSN-ADMIN</div>
        </div>
        <div class="col-2">
            <div class="card role-card p-4">
                <div class="d-flex justify-content-center" (click)="setToken(live)">live</div>
            </div>
        </div>
    </div>
    <!-- <div class="col-2">
        <div class="card role-card p-4">
            <div class="d-flex justify-content-center" (click)="setToken(SingleDdo)">Single DDO</div>
        </div>
    </div> -->
    <div class="col-2">
        <div class="card role-card p-4">
            <div class="d-flex justify-content-center" (click)="sendtoR_Pension()">Revised-Pension</div>
        </div>
    </div>
    </div>
    </div>
</div>
