<div class="align-item-center" *ngIf="isdialog">
  <span class="align-items-end" style="float:right;">
    <button mat-dialog-close class="btn-close m-3" aria-label="Close"></button></span>
  <h3 class="p-3 mb-0">*****</h3>
</div>
<div class="mx-2">
  <mat-card>
    <mat-card-content>
      <div class="container-fluid">
      <div class="row" >
        <div class="col-lg-3 pt-2 ml-2">
          <!-- <mat-label>Input code</mat-label> -->
          <mat-form-field class="example-full-width w-100">
            <input matInput placeholder="Employee Code" [(ngModel)]="empCode" [ngModelOptions]="{standalone: true}"
              oninput="this.value = this.value.toUpperCase()">
          </mat-form-field>
        </div>
        <div class="col-lg-2 pt-3">
          <button mat-raised-button color="primary" (click)="getEMPID()">Find Details</button>
        </div>
        <div class="col-lg-7 mt-3 text-end">
          <button mat-raised-button printSectionId="content" printTitle="Employee Details at Pension-ESS" ngxPrint
            class="mat-raised-button mat-primary " color="primary">
            <mat-icon >print</mat-icon>
          </button>
        </div>


      </div>
      </div>
      <div class="container-fluid" id="content" #content>
        <div class="row bg-white">
          <div class="col-12">
            <style>
              @media print {

                .print-container,
                .print-container * {
                  visibility: visible;
                }
              }
            </style>
            <!-- <button class="btn btn-primary ms-2" color="primary" mat-raised-button mat-button (click)="exportToPdf()" >Print</button> -->

            <div class="registration-card print-container">

              <div class="mt-2 border-3 border-bottom">
                <div class="row">
                  <div class="col-lg-4">
                    <h1>Pension Calculation Details</h1>
                  </div>
                  <!-- <div class="col-lg-8 text-end" *ngIf="!isdialog">
                    <h4 class="text-danger">If you have any doubt in display details then update your profile/details on
                      pay manager.</h4>
                  </div> -->
                </div>


                <!-- <span class="fs-6 p-2 heading_design text-primary">Pension Calculation Details</span> -->
              </div>
              <div class="tab-container mt-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12 mt-3">
                      <form>
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>{{isCrimnalCase?"Provision ":""}} Pension Amount</span>
                              <label>{{Pension_Commutation?.pensionAmount}}</label>
                            </div>
                          </div>


                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <span> Commuted Pension</span>
                            <label>{{Pension_Commutation?.cpoDeduction}}</label>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <span>{{isCrimnalCase?"Net Provision ":"Reduced"}} Pension Amount</span>
                            <label>{{Pension_Commutation?.netpensionAmount}}</label>
                          </div>
                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                            *ngIf="!isCrimnalCase">
                            <div>
                              <span>Family Pension</span>
                              <label>{{Pension_Commutation?.familyPension}}</label>
                            </div>
                          </div>

                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                            *ngIf="!isCrimnalCase">
                            <div>
                              <span>Enhance Pension</span>
                              <label>{{Pension_Commutation?.enhancedPension}}</label>
                            </div>
                          </div>

                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>DR Rate</span>
                              <label>{{Pension_Commutation?.daRate}} %</label>
                            </div>
                          </div>

                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                            *ngIf="!isCrimnalCase">
                            <div>
                              <span>Enhance Date</span>
                              <label>{{Pension_Commutation?Pension_Commutation.enhancedPensionDate:" "}}</label>
                            </div>
                          </div>
                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                            *ngIf="!isCrimnalCase">
                            <div>
                              <span>Pension Commencement Date</span>
                              <label>{{Pension_Commutation?Pension_Commutation.pensionStartDate:" "}}</label>
                            </div>
                          </div>
                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>{{isCrimnalCase?"Provision ":""}}DCRG (Gratuity)</span>
                              <label>{{Pension_Commutation?.retirGratuity}}</label>
                            </div>
                          </div>


                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <span>{{isCrimnalCase?"Payable Provision ":"Payable"}} DCRG</span>
                            <label>{{Pension_Commutation?.netPay}}</label>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                            *ngIf="!isCrimnalCase">
                            <span> Service Gratuity</span>
                            <label>{{Pension_Commutation?.serviceGratuity}}</label>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <span>Budget Head For Gratuity</span>
                            <label *ngIf="userDetails?.roleid=='1'">{{getBudHead("Gratuity")}}</label>
                            <label
                              *ngIf="userDetails?.roleid!='1'">{{Calculations_Pay_Details?Calculations_Pay_Details.gratuityBudgetHead:""}}
                            </label>
                          </div>

                          <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>Applicable Emolument</span>
                              <label>{{Pension_Commutation?.lastEmolument}}</label>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>Commutation Amount</span>
                              <label>{{Pension_Commutation?.commutationAmount}}</label>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                      <span>Opt for Commutation</span>
                      <div appearance="outline" class="border border-radius-5 p-2 rounded">
                        <mat-select panelClass="myPanelClass" [(ngModel)]="ServiceDetails.optForCommutation"
                          (selectionChange)="value()">
                          <mat-option value="Yes">Yes</mat-option>
                          <mat-option value="No">No</mat-option>
                        </mat-select>


                      </div>

                    </div>


                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3"
                      *ngIf="ServiceDetails.optForCommutation=='Yes' ">
                      <span>Commutation Precentage</span>
                      <div class="border border-radius-5 p-2 rounded">
                        <!-- New changes -->

                        <!-- <label>{{ServiceDetails?.commuationPercentage}}</label> -->
                        <input matInput type="number" placeholder="Commutation Precentage" min="0"
                          [(ngModel)]="ServiceDetails.commuationPercentage" (blur)="numberValidation()">
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-2">

                  </div>
                </div>
              </div>
              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Personal Details</span>
              </div>
              <div class="tab-container mt-2">
                <div class="container-fluid">
                  <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div class="avatar-upload">
                        <span>Joint Photograph</span>
                        <div class="avatar-edit">
                          <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                            (change)="uploadFile($event)" />
                        </div>
                        <div class="avatar-preview">
                          <div id="imagePreview" [style.backgroundImage]="'url('+ jointImageUrl +')'"> <i
                              class="fa fa-edit"></i>
                          </div>
                        </div>
                        <!-- <button class="editbutton" (click)="fileInput.click()"><mat-icon>edit</mat-icon></button> -->
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div class="avatar-upload">
                        <span>Employee Photograph</span>
                        <div class="avatar-edit">
                          <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                            (change)="uploadFile($event)" />
                        </div>
                        <div class="avatar-preview">
                          <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'" *ngIf="picData==''"> <i
                              class="fa fa-edit"></i>
                          </div>
                          <img [src]="picData" style=" width: auto;  height: 100%;" />
                        </div>
                        <!-- <button class="editbutton" (click)="fileInput.click()"><mat-icon>edit</mat-icon></button> -->
                      </div>
                    </div>
                    <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                                                  <div class="avatar-upload">
                                                    <span>Employee Signature</span>
                                                    <div class="avatar-edit">
                                                      <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                                        (change)="uploadFile($event)" />
                                                    </div>

                                                    <div class="avatar-preview">
                                                      <div id="imagePreview" [style.backgroundImage]="'url('+ signimageUrl +')'"> <i
                                                          class="fa fa-edit"></i>
                                                      </div>
                                                    </div>

                                                  </div>
                                                </div> -->
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                      *ngIf="userDetails.roleid=='4' || userDetails.roleid=='5' || userDetails.roleid=='6'">
                      <div>
                        <span>LR Number</span>
                        <label>{{Personaldetail?Personaldetail.lrNo:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Janadhaar Number</span>
                        <label>{{Personaldetail?Personaldetail.janadharId:"N/A"}}</label>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Employee Name</span>
                        <label>{{Personaldetail?Personaldetail.nameEn:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Employee ID</span>
                        <label>{{Personaldetail?Personaldetail.employeeCode:"N/A"}}</label>
                      </div>
                    </div>
                    <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                            <div>
                              <span>Payee ID </span>
                              <label>{{Personaldetail?Personaldetail.payeeId:"N/A"}}</label>
                            </div>
                          </div> -->
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>SSO ID </span>
                        <label>{{Personaldetail?Personaldetail.ssoId:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Gender</span>
                        <label>{{Personaldetail?Personaldetail.genderName:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Date of Birth</span>
                        <label>{{Personaldetail?Personaldetail.dateOfBirth:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Height</span>
                        <label>{{Personaldetail?Personaldetail.height:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Identification Mark</span>
                        <label>{{Personaldetail?Personaldetail.identificationMarks:"N/A"}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Father's Name</span>
                        <label>{{Personaldetail?Personaldetail.fatherName:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Mother's Name</span>
                        <label>{{Personaldetail?Personaldetail?.motherName:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Martial Status</span>
                        <label>{{Personaldetail?Personaldetail?.maritalStatus:""}}
                        </label>
                      </div>
                    </div>


                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Spouse name</span>
                        <label>{{Personaldetail?Personaldetail.spouseName:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                      *ngIf="userDetails.roleid!=='1'">
                      <div>
                        <span>Disabled</span>
                        <label>{{(Personaldetail?.disable=='0' ||Personaldetail?.disable=='N') ?'No':'Yes'}}
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                      *ngIf="userDetails.roleid==='1'">
                      <div>
                        <span>Disabled</span>
                        <label>{{(Personaldetail?.disable=='0' ||Personaldetail?.disable=='N')?'No':'Yes'}}
                          <div *ngFor="let file of document_id">
                            <a *ngIf="file.id==24 && Personaldetail?.disable=='1'" matTooltip="Download"
                              href="JavaScript:Void(0);"
                              (click)="get_Detail_Document('Disability_Certificate',24)">download certificate</a>
                          </div>
                          <div
                            *ngIf="userDetails.roleid==='1' && (Personaldetail?.disable=='Y' || Personaldetail?.disable=='1')">
                            <div class="uploaddoc" *ngIf="!Disabledfile">
                              <!-- <input type="file" id="fileDropRef" class="inputd" #Dfile (change)="onChangeDisabled(Dfile)" /> -->

                              <input type="file" id="fileDropRef" accept=".pdf" class="inputd"
                                (change)="onChangeDisabled($event)">
                              <label for="fileDropRef">
                                <a matTooltip="View Details" href="JavaScript:Void(0);">
                                  Upload certificate</a>
                              </label>
                            </div>
                            <div *ngIf="Disabledfile" class="uploaddoc">
                              <span style="color:#3281CC;">{{Disabledfile}}</span>
                              <a href="JavaScript:Void(0);" (click)="removeDisabled()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                  class="bi bi-trash" viewBox="0 0 16 16">
                                  <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                  <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                              </a>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Type of Disability</span>
                        <label>{{Personaldetail?Personaldetail.disabilityCatName:""}}</label>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Percentage of Disability</span>
                        <label>{{Personaldetail?Personaldetail?.disabilityPercent:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Blood Group</span>
                        <label>{{Personaldetail?Personaldetail?.bloodGrpName:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Email Id</span>
                        <label>{{Personaldetail?Personaldetail.emailId:""}}</label>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">

                      <div>
                        <span>Mobile No</span>
                        <label>{{Personaldetail?Personaldetail?.mobileNo:""}}</label>
                      </div>

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Nationality</span>
                        <label>{{Personaldetail?Personaldetail.nationality:""}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Religion</span>
                        <label>{{Personaldetail?.religionNameEn}}</label>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Pan Number</span>
                        <label>{{Personaldetail?.pan}}</label>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                      <div>
                        <span>Adhaar Number</span>
                        <label>{{Personaldetail?.aadharRefNo}}</label>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Service Details</span>
              </div>

              <div class="tab-container container-fluid mt-4">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Service Category </span>
                      <label>{{ServiceDetails?.serviceCatName}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Category of Pension </span>
                      <label>Superannuation</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Office Name </span>
                      <label>{{ServiceDetails?.officeNameEn}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Gazetted</span>
                      <label>{{ServiceDetails?.gajetted}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Admin Department</span>
                      <label>{{ServiceDetails?.parentDepartmentName}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Current Department</span>
                      <label>{{Personaldetail?.deptName}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Current Designation</span>
                      <label>{{Personaldetail?.desgDescName}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Current Office Address</span>
                      <div *ngFor="let field of officeArray">
                        <label> {{field.officeNameEn+','+field.officeId}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Appointment Order No </span>
                      <label>{{Personaldetail?.appointOrdNum}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Appointment Order Date </span>
                      <label>{{Personaldetail?.appointmentOrderDate}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Order Issuing Authority/Office </span>
                      <label>{{Personaldetail?.authorityOffice}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Appointment Authority </span>
                      <label>{{Personaldetail?.appointAuthority}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Date of Joining Regular Service </span>
                      <label>{{DOJRS}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Date of Joining Current Designation</span>
                      <label>{{DOPD}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Date of Joining Present DDO</span>
                      <label>{{DOJPD}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Joining Date</span>
                      <label>{{DOJ}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Date of Retirement</span>
                      <label>{{dateTrans(Personaldetail?.dor)}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>PRAN No.</span>
                      <label>{{Personaldetail?.pranNumber}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>GPF No.</span>
                      <label>{{Personaldetail?.gpfNo}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>State Insurance Number</span>
                      <label>{{Personaldetail?.sipfNo}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>I.A.S CPNF Number</span>
                      <label>{{Personaldetail?.cpfNo}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New Changes -->
                      <span>PPO Number</span>
                      <label>{{Personaldetail?.ppoNo=='null'?'':Personaldetail?.ppoNo}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Foreign Services</span>
                      <label>{{Personaldetail?.foreignService}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Foreign Empolyer</span>
                      <label>{{Personaldetail?.foreignEmpolyer}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Foreign Services From-To Date</span>
                      <label>{{Personaldetail?.from_Date}} - {{Personaldetail?.to_Date}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>

                      <span>Opt for Commutation</span>
                      <label>{{ServiceDetails?.optForCommutation}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Commutation Precentage</span>
                      <label>{{ServiceDetails?.commuationPercentage}}</label>

                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New changes -->
                      <span>Income Tax Regime</span>
                      <label>{{ServiceDetails?.incomeTaxRegime}}</label>
                    </div>
                  </div>

                </div>
                <div class="d-flex justify-content-end">


                </div>
              </div>

              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Address Details</span>
              </div>


              <div class="tab-container mt-4">
                <div class="container-fluid ">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 allRadious"
                      *ngFor="let field of residenceArray">
                      <mat-card class="p-0 lh-lg">
                        <mat-card-content class="p-3">
                          <div class="address-card">
                            <!-- <mat-icon>{{iconCA}}</mat-icon> -->
                            <mat-icon>person_pin_circle</mat-icon>
                          </div>
                          <span>Current Address</span>
                          <p style="max-width: 100%;">

                            {{field?.villageName!=null?'Village:'+field.villageName+',':""}}
                            {{field?.gramPanchayat!='0'?'Gram Panchayat:'+field.gramPanchayat+',':""}}
                            {{field?.wardNameEn!='0'?'Ward Name:'+field.wardNameEn+',':""}}
                            {{field?.muncipalBlockNameEn!=null?'Muncipal:'+field.muncipalBlockNameEn+',':""}}
                            {{field?.houseAddress!=null?'House Address:'+field.houseAddress+',':""}}
                            {{field?.districtNameEn!=null?'District:'+field.districtNameEn+',':""}}
                            {{field?.stateNameEn!=null?'State:'+field.stateNameEn+',':""}}
                            {{field?.pinCode!=null?'Pin Code:'+field.pinCode:""}}
                            {{field?.assemblyNameEn!=null?'Assembly:'+field.assemblyNameEn:""}}
                            <!-- {{field.houseAddress+','+field.districtNameEn+','+field.stateNameEn+','+field.pinCode}} -->
                          </p>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 allRadious"
                      *ngFor="let field of DepartmentAddress">
                      <mat-card class="p-0 lh-lg">
                        <mat-card-content class="p-3">
                          <div class="address-card">
                            <span class="material-symbols-outlined">
                              <!-- <mat-icon>{{iconPA}}</mat-icon> -->
                              <mat-icon>account_box</mat-icon>
                            </span>
                          </div>
                          <span>Permanent Address</span>
                          <p style="max-width: 100%;">
                            {{field?.villageName!=null?'Village:'+field.villageName+',':""}}
                            {{field?.gramPanchayat!='0'?'Gram Panchayat:'+field.gramPanchayat+',':""}}
                            {{field?.wardNameEn!='0'?'Ward Name:'+field.wardNameEn+',':""}}
                            {{field?.muncipalBlockNameEn!=null?'Muncipal:'+field.muncipalBlockNameEn+',':""}}
                            {{field?.houseAddress!=null?'House Address:'+field.houseAddress+',':""}}
                            {{field?.districtNameEn!=null?'District:'+field.districtNameEn+',':""}}
                            {{field?.stateNameEn!=null?'State:'+field.stateNameEn+',':""}}
                            {{field?.pinCode!=null?'Pin Code:'+field.pinCode:""}}
                            {{field?.assemblyNameEn!=null?'Assembly:'+field.assemblyNameEn:""}}
                            <!-- {{field.houseAddress+','+field.districtNameEn+','+field.stateNameEn+','+field.pinCode}} -->
                          </p>
                        </mat-card-content>
                      </mat-card>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 allRadious"
                      *ngFor="let field of officeArray">
                      <mat-card class="p-0 lh-lg">
                        <mat-card-content class="p-3">
                          <div class="address-card">
                            <!-- <mat-icon>{{iconOA}}</mat-icon> -->
                            <mat-icon>apartment</mat-icon>
                          </div>
                          <span>Office Address</span>
                          <p style="max-width: 100%;">
                            {{field.officeNameEn+','+field.officeId}}</p>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end">

                </div>
              </div>


              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Family Details</span>
              </div>
              <div class="tab-container mt-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 allRadious mt-4"
                      *ngFor="let field of familyDetails">
                      <div class="family-details-card-container">
                        <div class="family-card-header m-1 p-2 d-flex justify-content-between align-items-center">
                          <div class="member-base-details d-flex justify-content-start align-items-center">
                            <div class="member-image">
                              <img src="./assets/images/sonImg.jfif" alt="member-image">
                            </div>
                            <div class="member-name heading-2 ms-2 mt-2">{{field.nameEn}}</div>
                          </div>
                          <div class="name-birth-details ms-1">
                            <span class="relation-tag py-1 px-2">{{field.relationshipTypeEn}}</span>
                          </div>
                        </div>
                        <div class="family-card-body">
                          <div class="d-flex justify-content-between align-items-center mt-4 mx-3">
                            <div class="pan-number-box me-5 fw-bold">
                              <p class="subtitle-2">{{field.genderEn}}</p>
                            </div>
                            <div class="aadhar-number-box fw-bold">
                              <p class="subtitle-2">{{field.dob}}</p>
                            </div>
                            <div class="aadhar-number-box ms-4 fw-bold">
                              <p class="subtitle-2">{{field.maritalStatusName}}</p>
                            </div>
                          </div>
                          <div
                            class="pan-aadhar-number-container d-flex justify-content-start align-items-center  mx-3">
                            <!-- <div class="pan-number-box me-5">
                                    <p class="m-0 f-12">PAN Number</p>
                                    <p class="subtitle-2">DXEPK2840E</p>
                                  </div> -->
                            <div class="aadhar-number-box ms-5">
                              <p class="m-0 f-12">Aadhaar Number</p>
                              <p class="subtitle-2">{{field.aadharRefernceId}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">

                          <div class="action-textd-d-flex mt-3 justify-content-end align-item-center me-2">
                            <a href="javascript:void(0)"
                              class="subtitle-2 view-details-btn d-flex justify-content-end align-item-center"
                              (click)="openDialog(field)">
                              <p class="m-0">View All Details </p>
                              <span>
                                <!-- <mat-icon>arrow_right_alt</mat-icon> -->
                              </span>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="d-flex justify-content-end mt-3">


                  </div>
                </div>
              </div>

              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Nomination</span>
              </div>

              <div class="tab-container mt-4">
                <div class="container-fluid">
                  <div class="row">
                    <strong>Arrears (Form A&5)</strong>
                    <div class="col-lg-12 mt-3 datatable">
                      <table class="table text-nowrap">

                        <thead class="thead-light">
                          <tr>
                            <th scope="col">NAME</th>
                            <!-- <th scope="col">GENDER</th> -->
                            <th scope="col">RELATION</th>
                            <th scope="col">MAIN NOMINEE SHARE</th>
                            <th scope="col">ALTERNATE NOMINEE SHARE</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let member of arrear_Arr">
                          <tr>
                            <td>{{member.name}}</td>
                            <!-- <td>{{member.gender}}</td> -->
                            <td>{{member.relationshipName}}</td>
                            <td>{{member.mainPercentageShare?member.mainPercentageShare:'0'}} %</td>
                            <td>{{member.alternatePercentageShare?member.alternatePercentageShare:'0'}} %</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <strong>Commutation (Form A&5)</strong>
                    <div class="col-lg-12 mt-3 datatable">
                      <table class="table text-nowrap">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">NAME</th>
                            <!-- <th scope="col">GENDER</th> -->
                            <th scope="col">RELATION</th>
                            <th scope="col">MAIN NOMINEE SHARE</th>
                            <th scope="col">ALTERNATE NOMINEE SHARE</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let member of commutation_Arr">
                          <tr>
                            <td>{{member.name}}</td>
                            <!-- <td>{{member.gender}}</td> -->
                            <td>{{member.relationshipName}}</td>
                            <td>{{member.mainPercentageShare?member.mainPercentageShare:"0"}} %</td>
                            <td>{{member.alternatePercentageShare?member.alternatePercentageShare:"0"}} %</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <strong>Gratuity (Form 1 or 2)</strong>
                    <div class="col-lg-12 mt-3 datatable">
                      <table class="table text-nowrap">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">NAME</th>
                            <!-- <th scope="col">GENDER</th> -->
                            <th scope="col">RELATION</th>
                            <th scope="col">MAIN NOMINEE SHARE</th>
                            <th scope="col">ALTERNATE NOMINEE SHARE</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let member of gratuity_Arr">
                          <tr>
                            <td>{{member.name}}</td>
                            <!-- <td>{{member.gender}}</td> -->
                            <td>{{member.relationshipName}}</td>
                            <td>{{member.mainPercentageShare?member.mainPercentageShare:"0"}} %</td>
                            <td>{{member.alternatePercentageShare?member.alternatePercentageShare:"0"}} %</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end">

                </div>
              </div>


              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Service Records</span>
              </div>

              <div class="tab-container container-fluid mt-4" style="margin: 0; padding: 0; overflow: hidden;">
                <div class="mt-3 datatable">
                  <table class="table" style="margin: 0; padding: 0; overflow: hidden;">
                    <thead class="thead-light">
                      <tr>

                        <th scope="col">Service Length</th>


                        <th scope="col">DE Status</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of serviceRecord_arry_List">
                        <td>{{Pension_Commutation?Pension_Commutation.totalCurrentService:""}}</td>
                        <td>{{destatus?'Yes':'No'}}</td>
                      </tr>
                    </tbody>
                  </table>



                </div>
                <div class="d-flex justify-content-end">

                </div>
              </div>
              <div class="mt-2 border-3 border-bottom">
                <span class="fs-5 p-2 heading_design">Pay Details</span>
              </div>

              <div class="tab-container mt-4">
                <div class="row container-fluid">


                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New Changes -->
                      <span>Pension Type/Rule</span>
                      <!-- <label>Superannuation
                              <label>(Rule-30,RCS Pension Rules,1996)</label>
                            </label> -->
                      <label *ngIf="userDetails.roleid=='1'">{{BudgetDetails[0]?.pensionType}}</label>
                      <label
                        *ngIf="userDetails.roleid!='1'">{{Calculations_Pay_Details?Calculations_Pay_Details.pensionType:""}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Basic Pay</span>
                      <label>{{Calculations_Pay_Details?.basicPay}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                    *ngIf="Calculations_Pay_Details && Calculations_Pay_Details.payCommissionNameEn=='Seventh'">
                    <div>
                      <span>Pay Level in the Pay Matrix </span>
                      <label>{{Calculations_Pay_Details?.payLevel}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                    *ngIf="Calculations_Pay_Details && Calculations_Pay_Details.payCommissionNameEn!='Seventh'">
                    <div>
                      <span>Running Pay Band</span>
                      <label>{{Calculations_Pay_Details?.payLevel}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                    *ngIf="Calculations_Pay_Details && Calculations_Pay_Details.payCommissionNameEn!='Seventh'">
                    <div>
                      <span>Grade pay</span>
                      <label>{{Calculations_Pay_Details?.payLevel}}</label>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                          <div>
                            <span>Average Pay</span>
                            <label>{{Calculations_Pay_Details?.averagePay}}</label>
                          </div>
                        </div> -->
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>NPA/NCA</span>
                      <label>{{Calculations_Pay_Details?.npaOrNca}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Special Pay</span>
                      <label>{{Calculations_Pay_Details?.specialPay}}</label>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                                          <div>
                                            <span>Service Gratuity</span>
                                            <label>{{Calculations_Pay_Details?.serviceGratuity}}</label>
                                          </div>
                                        </div> -->
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <span>Pay Commision</span>
                      <label>{{Calculations_Pay_Details?.payCommissionNameEn}}</label>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New Changes -->
                      <span>DA Amount</span>
                      <label>{{Pension_Commutation?.daAmount}}</label>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <div>
                      <!-- New Changes -->
                      <span>Others Special Pay Allowance</span>
                      <label>{{Calculations_Pay_Details?Calculations_Pay_Details?.otherspecialpayallow:"N/A"}}</label>
                    </div>
                  </div>


                  <div class="d-flex justify-content-end">


                  </div>
                </div>
              </div>
              <div class="mt-2 border-3 border-bottom">
                <span class="fs-6 p-2 heading_design text-primary">Bank/Treasury Details</span>
              </div>

              <div class="tab-container mt-4">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12 mt-3">
                      <form>
                        <div class="row">
                          <div class="row">


                          </div>
                          <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                              <div>
                                <span>Bank Name</span>
                                <label>{{Banklist?.bankName}}</label>
                                <!-- <label>Punjab National Bank</label> -->
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                              <div>
                                <span>Branch Name</span>
                                <label>{{Banklist?.branchName}}</label>
                                <!-- <label>Vaishali Nagar, Ajmer</label> -->
                              </div>
                            </div>
                            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mt-3">
                                    <div>
                                      <span>Account Holder Name </span>
                                      <label>{{Banklist.holderName}}</label>
                                    </div>
                                  </div> -->
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                              *ngIf="userDetails?.roleid!='1'">
                              <div>
                                <span>Account Number</span>
                                <label>{{Banklist?.accountNumber}}
                                </label>

                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3"
                              *ngIf="userDetails?.roleid=='1'">
                              <div>
                                <span>Account Number</span>
                                <label>{{Banklist?.accountNumber}}


                                </label>

                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                              <div>
                                <span>IFSC Code</span>
                                <label>{{Banklist?.ifscCode}}</label>

                              </div>
                            </div>

                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                  <div class="d-flex justify-content-end mb-2">

                  </div>
                </div>
              </div>




              <br>
              <br>
              <br>
              <br>
              <br>

            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
