

.pLabelInfo {
    color: rgba(0, 0, 0);
}
.pLabelTextInfo {
  color: rgb(241 0 0);
}

.popupDivStyle {
    line-height: 2;
    /* max-height: 500px; */
    overflow-y: scroll;
}

.popupDivStyle::-webkit-scrollbar {
    display: none;
}

.space{
    display: flex;
    gap: 20px;
    }


    ::ng-deep .mat-dialog-container {
        display: block;
        padding: 40px;
        border-radius: 24px !important;
        box-sizing: border-box;
        overflow: auto;
        outline: 0;
        width: 100%;
        height: 100%;
        min-height: inherit;
        max-height: inherit;
        border-radius: 30px !important;
    }



    ::ng-deep .btn-close {
        box-sizing: content-box;
        width: 0.5em !important;
        height: 0.5em !important;
        padding: 0.25em 0.25em;
        color: #000000 !important;      
        border: 0;
        border-radius: 0.375rem;
        opacity: 1.5 !important;
    }

    .cnfrmDialogStyl {
        display: flex;
        padding: 24px;
        border-radius: 24px !important;     
        overflow: auto;
        width: 28vw;
        height: 25vh;
        justify-content: center;
        align-items: center;
    }
    .btnStyle{
        margin-top: 100px;
        text-align: center;
    }

    
.mList{
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
  }
  
  .mList::before{
    position: absolute;
    content: "";
    background-color: #E2E2E2;
    bottom: 0;
    top: 0;
    left: 6px;
    width: 3px;
  }
  
  .mList::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #189D2D;
    left: 0;
  }

  .family-details-card-container{
    border: 0.063rem solid #D8D8FF;
    border-radius: 0.625rem;
    background-color: white;
    padding:.05rem;
    height: 100%;
    // margin-bottom: -5rem;
  }
  .family-card-header{
    background-color: #eef5ff;
    height: 4.375rem;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
  }

  .family-card-body{
    position: relative;
  }
  
  .member-base-details{
    position: absolute;
    content: "";
    top: -3rem;
    left: 0.625rem;
  }
  
  .member-image img{
    object-fit: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.125rem solid white;
  }
  .relation-tag{
    background-color: white;
    border-radius: 0.313rem;
    font-size: 0.75rem;
  }
  .member-image-1{
    margin-top: -4rem;
  }
  .heading-close{
    margin-top: -2rem;
  }
  .ok-button{
    margin-top: -4rem;
  }