<section class="header-section sticky-top-header">
    <div class="header-container">
        <div class="container-fluid  ">
            <div class="row d-none d-lg-block" style="background-color: #F4F4F4;">
                <div class="col-12">
                    <div class="upper-header-content-box d-flex justify-content-end py-1">
                        <div class="right-upper-header d-flex align-items-center">
                            <a href="#">
                                <p class="upper-header-menu-text">Skip to main content</p>
                            </a>
                            <a href="#" class="d-flex justify-content-center align-items-center">
                                <p class="upper-header-menu-text w-color">Change Text Size</p>
                                <ul class="m-0">
                                    <li class="w-color ms-2">A+</li>
                                    <li class="w-color ms-2">A</li>
                                    <li class="w-color ms-2">A-</li>
                                </ul>
                            </a>
                            <a href="#"><span class="w-color"><i class="fa-solid fa-wheelchair"></i></span></a>
                            <a href="#">
                                <div class="dropdown">
                                    <a class="w-color dropdown-toggle fs-6 b-0" href="#" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        English
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Hindi</a></li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-1 main-header-background">
                <div class="col-6">

                    <!-- <div class="left-main-header">
                        <div class="left-main-header-image-box">
                            <img src="assets/images/ashok-national.svg" alt="image">
                        </div>
                        <div class="left-main-header-content-box">
                            <p class="depart-heading">DEPARTMENT OF FINANCE</p>
                            <p class="depart-subheading2">Integrated Financial Management System</p>
                        </div>
                    </div> -->

                </div>
                <!-- <div class="col-6">
                    <div class="right-main-header float-end me-lg-2 pt-2">
                        <div class="search-box-container d-none d-sm-none d-md-none d-lg-inline me-3">
                            <input type="text" placeholder="Search" name="search" id="header-search"
                                class="header-search">
                            <i class="search-bar-icon">
                                <svg width="14" height="14" fill="currentColor" class="bi bi-search"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </i>
                        </div>

                        <button #ddTrigger="matMenuTrigger" mat-button [matMenuTriggerFor]="one"
                            class="font-14 mt-0 me-2" *ngIf="roleList.length>1"><mat-icon color="primary"
                                class="me-2">supervised_user_circle</mat-icon> <span class="">Roles</span></button>
                        <mat-menu #one="matMenu" [overlapTrigger]="false" class="matmenucontant"
                            style="min-height:inherit !important;">

                            <div class="dropdown text-center" *ngFor="let role of roleList;let i=index">
                                <button mat-button class="d-block w-100 text-start"
                                    (click)="redirectToDashboard(i)">{{role.payeeRoleName}}</button>
                            </div>
                        </mat-menu>


                        <div class="md-serch-icon-container d-inline d-lg-none me-3 mx-1">
                            <button><img src="assets/images/search.svg" alt="icon"></button>
                        </div>
                        <div class="notification-icon-container d-inline me-4">
                            <div class="notification-number d-flex align-items-center justify-content-center">10</div>
                            <img src="assets/images/notification-icon-img.svg" alt="notification">
                        </div>
                        <div class="avatar d-inline me-2" [matMenuTriggerFor]="logout">
                            <img src="{{ssoimg}}">
                        </div>
                        <mat-menu #logout="matMenu" [overlapTrigger]="false" class="matmenucontant"
                            style="min-height:inherit !important; margin-top: 25px;">

                            <div class="dropdown text-center">
                                <button mat-button class="d-block w-100 text-start logout-button"
                                    (click)="backToSpace()"><mat-icon class="f-20">group_work</mat-icon> Back To
                                    Space</button>
                                <button mat-button class="d-block w-100 text-start logout-button"
                                    (click)="changeDeskAndRole()"><mat-icon
                                        class="f-20">supervised_user_circle</mat-icon> Change Desk & Role</button>
                                <button mat-button class="d-block w-100 text-start" (click)="logout1()"><mat-icon
                                        class="f-20 mx-1">power_settings_new</mat-icon>Logout</button>

                            </div>
                        </mat-menu>
                        <div class="d-inline">
                            <p class="mb-0 ml-2" style="display: inline-grid;">{{empinfo?.displayName}}<br>
                                <span style="font-size:12px;">{{empinfo?.ssoId}}</span>
                            </p>
                        </div>
                    </div>
                </div> -->

            </div>
            <!-- <div class="row middle-header-info-container p-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8-col-xxl-8 d-flex align-items-center"
                    style="font-size: 12px;">
                    <ul class="d-flex mb-0">
                        <li>
                            <p class="m-0 active middle-menu-border p-0 pe-2">Dept.Code :
                                <br><span>{{decLevelData?decLevelData.DeptId:""}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="m-0 active p-0 px-2">{{decLevelData?decLevelData.levelValueDesc:""}}</p>
                        </li>
                        <li>
                            <p class="m-0 active middle-menu-border p-0 px-2">DDO.Code :
                                <br><span>{{decLevelData?decLevelData.levelValueCode:""}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="m-0 active p-0 px-2 middle-menu-border">Designation :
                                <br><span>{{decLevelData?decLevelData?.userInfo.designation:""}}</span>
                            </p>
                        </li>
                        <li>
                            <p class="m-0 active p-0 px-2 middle-menu-border">Office ID :
                                <br><span>{{decLevelData?decLevelData.OfficeId:""}}</span>
                            </p>
                        </li>



                    </ul>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-4 col-xxl-4 d-none d-md-block">
                    <div>
                        <div class="light_blue_bg justify-align-middle align-items-center align-self-center">
                            <div class="float-end">
                                <div class="d-flex align-items-center">
                                    <div class="white_bg p-2">
                                        <span>Selected Role</span><span
                                            class="light_grey_bg py-1 px-4 ms-2">{{selectedrole}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row menu-bar-container">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md">
                        <div class="container-fluid">
                            <!-- <a class="navbar-brand" href="#">
                                <img width="100px" src="assets/images/rajifms-logo.png">
                            </a> -->
                            <button class="navbar-toggler border-none" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">

                                <img src="assets/images/navbar-icon.svg" alt="nav-icon">
                            </button>
                            <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                                <ul class="navbar-nav menu-options">
                                    <li class="nav-item" (click)="redirecttodashoboard()">
                                        <a class="nav-link navlinkcursor" aria-current="page">My Dashboard</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link navlinkcursor">Budget Management</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link navlinkcursor">Disbursement Engine</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page">Revenue Management</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link navlinkcursor" (click)="redirectToAdminLogin()">Log Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>