.family-details-card-container{
    border: 0.063rem solid #D8D8FF;
    border-radius: 0.625rem;
}

.family-card-header{
    background-color: #F0F0FF;
    height: 4.375rem;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.relation-tag{
    background-color: white;
    border-radius: 0.313rem;
    font-size: 0.75rem;
}

.family-card-body{
    position: relative;
}

.member-base-details{
    position: absolute;
    content: "";
    top: -2rem;
    left: 0.625rem;
}

.member-image{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    border: 0.125rem solid white;
}

.member-image > img{
    width: -webkit-fill-available;
}

.member-meretial-status{
    text-align: right;
}

.f-12{
    font-size: 0.75rem;
}

.pan-aadhar-number-container{
    border-bottom: 0.063rem solid #f6f8f9;
}

.text-dark-1{
    color: #7E7E7E;
}

.view-details-btn{
    text-decoration: none;
    color: var(--primary);
}

.family-details-icon{
    height: 1.875rem;
    width: 1.875rem;
}
th {
    width: auto;
}