.content {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.card_m{min-height: 450px;}

.card_m mat-card{
    cursor: pointer;
}
::ng-deep .view_only {
  margin-bottom: 59px;

  .mat-form-field-disabled {
    .mat-select-arrow, .mat-icon, .asterisk,
  .mat-datepicker-toggle-default-icon,
  .mat-form-field-underline {
    display: none;
  }
    .mat-input-element, .mat-select-value {
      color: black;
    }
  }

  .mat-select-outline {
    appearance: outline !important;
  }

 /*  .btn_mdf {
    margin-top: -62px !important;
  } */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}