<p>menu-master works!</p>




<div class="container-fluid">

    <mat-card class="card-shadow p-0">

        <h2 class="p-3"> Process Task Configruration</h2>

        <div class="row">

            <form autocomplete="off">

            <div class="row mt-0 p-3">
             
                <h2>Menu Name English</h2>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                    <!-- <mat-label class="font-12  mb-0"> Process Sequence</mat-label> -->
                    <mat-form-field class="example-full-width w-100">
                        <!-- <mat-label>Group Name</mat-label> -->
                        <input matInput type="text" placeholder=" Field" name="Field"
                             formControlName="menuName">
                    </mat-form-field>
                </div>

                <h2>Menu Name Hindi</h2>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                    <!-- <mat-label class="font-12  mb-0"> Process Sequence</mat-label> -->
                    <mat-form-field class="example-full-width w-100">
                        <!-- <mat-label>Group Name</mat-label> -->
                        <input matInput type="text" placeholder=" Field" name="Field"
                             formControlName="menuName">
                    </mat-form-field>
                </div>

                <h2>URL</h2>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-1">
                    <!-- <mat-label class="font-12  mb-0"> Process Sequence</mat-label> -->
                    <mat-form-field class="example-full-width w-100">
                        <!-- <mat-label>Group Name</mat-label> -->
                        <input matInput type="text" placeholder=" Field" name="Field"
                             formControlName="url">
                    </mat-form-field>
                </div>











            </div>
            </form>
        </div>
    </mat-card>
</div>
