#ifrm ifram{ width:100%; margin: 0 auto; padding:0;}
.cdk-overlay-pane { max-height: 70% !important;}
.popupwork .popupwork_img img{ width: 50vh !important;}
.popupwork iframe{ width:100%; height:70vh;}
