.font-size{
  font-size: 13px;
  // font-weight: bold;
  color: #8080807a;
  }

  // /////

  .avatar-upload {
    position: relative;
    // max-width: 205px;
  //   margin: 10px auto 30px;
  }

  .avatar-upload .avatar-edit {
    position: absolute;
    right: 19px;
    z-index: 1;
    top: 13px;
  }

  .avatar-upload .avatar-edit input {
    display: none;
  }

  .avatar-upload .avatar-edit .custom-label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #3efc78;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload .avatar-edit .upload-image {
    background: #3efc78;
  }

  .avatar-upload .avatar-edit .remove-image {
    background: rgba(233, 30, 98, 0.075);
  }

  .avatar-upload .avatar-edit .custom-label:hover {
    opacity: 1;
  }

  .avatar-upload .avatar-edit .custom-label:after {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 8px;
    right: 0;
    left: 2px;
    width: 18px;
  }

  .avatar-upload .avatar-edit .upload-image:after {
    content: url('/assets/images/noimage.jpg');
  }

  .avatar-upload .avatar-edit .remove-image:after {
    content: url('/assets/images/noimage.jpg');
    left: 0px !important;
  }

  .avatar-upload .avatar-preview {
    width:130px;
    height:130px;
    position: relative;
    border-radius:7px;
    overflow: hidden;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    margin:0 auto;
  }

  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .form-control {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 0;
    background: #FDFDFD;
    border: 1px solid #312BC6;
  }

  .custom-select {
    height: auto;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
    background-color: #FDFDFD;
    border: 1px solid #312BC6;
  }

  .col-md-6.col-lg-4 mat-form-field {
    width: calc(100% - 50px) !important;
  }


