<div>
    <h3>Message Information</h3>
    <div style="margin-top: 5%;margin-bottom: 5%;">
        <mat-label>You don't have any role in this Module.</mat-label>
    </div>
    <div class="row align-item-center">
        <div style="margin-top: 5%;margin-bottom: 5%;">
            <div class="float-end">                
                <!-- <button  mat-button mat-dialog-close class="btn btn-outline-cancel" mat-stroked-button>Edit Application</button> -->
                <button class="btn btn-primary  ms-2" mat-raised-button color="primary" (click)="redirectToDashboard()">OK</button>
            </div>
        </div>
    </div>
</div>
